@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nunito:wght@600&display=swap');

:root {
  font-family: "Nunito", sans-serif;

  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1b1b;
  --scrollBarColorDark: #434343;
  --scrollBarColorLight: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-black: "#1B1B1B";
  --color-white: "#FFFFFF";
}

.body {
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: "Nunito", sans-serif;
}

html {
  scrollbar-width: none;

  font-family: "Nunito", sans-serif;
}

/* .time-picker-light {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-inner-spin-button {
    color-scheme: var(--scrollBarColorLight);
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    color-scheme: var(--scrollBarColorLight);
  }
} */

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  scrollbar-width: 6px;
  scrollbar-color: var(--secondary);
}

.heading {  
  font-size: 44px;
  background: -webkit-linear-gradient(#514cba, #1a0848);
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.rounded-10 {
  border-radius: 10px;
}

.text-12-500 {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
}

.text-13-400 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.text-14-600 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.text-15-500 {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
}

.text-18-600 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text-20-600 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.backgroundImage-shadow {
  filter: drop-shadow(0px 380px 152px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 214px 128px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 95px 95px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 24px 52px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.transition-item {
  /* width: 100%; */
  opacity: 0;
}

.active {
  animation: transition 0.5s ease-in-out 1 forwards;
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}